<% if fundraiser.is_full?%>
	<a href="#" rel="tooltip" data-original-title="This fundraising event has reached capacity."><button class="btn btn-danger">Sign Up</button></a>
<% elsif fundraiser.signed_up?(@current_user) %>
	<a href="#" rel="tooltip" data-original-title="You are already signed up for this fundraising event."><button class="btn btn-danger">Sign Up</button></a>
<% elsif fundraiser.after_date? %>
	<a href="#" rel="tooltip" data-original-title="You are already signed up for this fundraising event."><button class="btn btn-danger">Sign Up</button></a>
<% else %>
<%= button_to "Sign Up", { :action => "index", :controller => 'user_fundraisers', :user_id => current_user.id, :fundraiser_id => fundraiser.id }, :method => "create", :class => 'btn btn-info' %>
<% end %>
</td>
<% if current_user.is_fundraiser? %>
<td>
<%= button_to 'Edit', edit_fundraiser_path(fundraiser), :method => 'get', :class => 'btn' %>
<td>
<%= button_to 'Delete', fundraiser_path(fundraiser), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
<% end %>