
<div class="well">
	<h1>Welcome Back, Faiz.</h1></br>
	
	<div class= "schedule">
		<h3>Tomorrow's Schedule:</h3></br>
		<div class="workout-description">
			<p>Launch time is <strong>5:30am</strong>.</p>
			<p>5x15 minute steady state row. Technical day.</p>
		</div>
		<div class="boat-assignment">
			<ul class="boat-lineup">
				<h3>Boat lineup</h3>
				<li><strong>Coxswain </strong>Filipino Jones</li>				
				<li><strong>Stroke Seat </strong>Joshua Harvey</li>
				<li><strong>3 Seat </strong>Joe Guihan</li>
				<li><strong>2 Seat </strong>Faiz Abbasi</li>
				<li><strong>Bow Seat </strong>Wesley Transue</li>
			</ul>
			<p>You will be rowing the <strong>White V1</strong>.
		</div>
    </div>
</div>
