<h1>My Fundraisers</h1>
<% if @user_fundraisers.length < 1 %>
<div class="info_section">You are currently not signed up for any fundraisers!</div>
<% else %>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Fundraiser Name</th>
      <th>Fundraiser Date</th>
      <th>Location</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <% @user_fundraisers.each do |user_fundraiser| %>
        <tr>
          <td><%= user_fundraiser.fundraiser.name %></td>
          <td><%= user_fundraiser.fundraiser.event_date %></td>
          <td><%= user_fundraiser.fundraiser.location %></td>
          <td>
            <%= link_to 'Destroy', user_fundraiser_path(user_fundraiser), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>