<h3>Our Alumni</h3>
<div class="info_section">
<p>In October 2011, the Tartan Crew Alumni Network (TCAN) was launched! Alumni, parents, and friends are in the process of creating a vibrant alumni network for the Carnegie Mellon University Rowing Club (CMURC). The shape and direction of the network are still in the beta-stage, however the overarching goal is to provide opportunities to:</p></br>

Connect with alumni

Give back to the team

Support the legacy of CMURC

<p>The network is inclusive to: parents, coaches, advisors, staff, and alumni with any level of team association. If you have an affinity for the Carnegie Mellon University Rowing Club, we want you connected!</p>

Learn more and join here.

<p>Email CrewAlumniNetwork@gmail.com with any questions!</p>
</div>