<h3>Our Coaches</h3>
<div class= "info_section">
	<div class="middle">
		<%= image_tag(('sb_dt_background.jpeg'), :class => "adjust-right coach-image") %>
	</div>
	<p class="fit-left">
		Tartan Crew is pleased to welcome Laura Rush as head coach. She comes to
		Carnegie Mellon from a long coaching career at the Vesper Boat Club, the
		University of Pennsylvania, and Temple University.
	</p>
	<p class="fit-left">
		Rush is originally from Erie, Pennsylvania. She graduated in 2001 from
		Mercyhurst University where she was a varsity rower for four years, team
		captain for two, and established the current school record for open
		women's 2k erg time.
	</p>
</div>