<h3>Contact Us</h3>
<div class= "info_section">
  <p>
    If you have any general questions regarding our organization, please email our <%= mail_to "president@tartancrew.org", "President" %>, otherwise please find the appropriate person in the list below.
  </p>
  <h5>Here's a list of our board members:</h5></br>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>President</td>
        <td>Joshua Harvey</td>
        <td><span class="email">president@tartancrew.org</span></td>
      </tr>
      <tr>
        <td>Vice President & Men's Team Captain</td>
        <td>Dmitriy Yakubov</td>
        <td><span class="email"> vp@tartancrew.org</span></td>
      </tr>
      <tr>
        <td>Women's Team Captain</td>
        <td>Emily Henderson</td>
        <td><span class="email"> captains@tartancrew.org</span></td>
      </tr>
      <tr>
        <td>Secretary</td>
        <td>Luke Diorio-Toth</td>
        <td><span class="email"> secretary@tartancrew.org</span></td>
      </tr>
      <tr>
        <td>Fundraising Chair</td>
        <td>Kelsey Diffley & Jinie Haytko</td>
        <td><span class="email"> fundraising@tartancrew.org</span></td>
      </tr>
      <tr>
        <td>Public Relations</td>
        <td>Julia Embody</td>
        <td><span class="email"> publicity@tartancrew.org</span></td>
      </tr>
            <tr>
        <td>Recruitment</td>
        <td>Sami Davies</td>
        <td><span class="email"> recruitment@tartancrew.org</span></td>
      </tr>
      <tr>
        <td>Equipment</td>
        <td>Rand Burzese</td>
        <td><span class="email"> equipment@tartancrew.org</span></td>
      </tr>
      <tr>
        <td>Webmaster</td>
        <td>Faiz Abbasi</td>
        <td><span class="email"> webmaster@tartancrew.org</span></td>
      </tr>
    </tbody>
  </table>
</div>