<h3>Would You Like To Rent A Rower?</h3>
<div class="info_section">
	<p>
	  	Our rowers would love to help you move, do housework, garden or really anything you can think of for the low charge of $14 per hour per rower. To arrange please contact our fundraising chairs.
	</p>

    <h3>Recent News</h3>
	<p>
      Carnegie Mellon Crew has recently partnered with Gwen's Girls, a Pittsburgh outreach group for underpriviledged young girls, to provide homework help and STEM education through student led activities.</p>

    <p>
    	Additional fundraising opportunities include working at Pittsburgh Steelers games as well as Carnegie Mellon football and soccer games.
    </p>
	<p>
	    Our current fundraising chairs are Kelsey Diffley (<span class= "email">fundraising@tartancrew.org</span>) and  Jinie Haytko (<span class="email">fundraising@tartancrew.org</span>).
	</p>
</div>