<h3>Practices At CMU Crew</h3>
<div class= "info_section">
  <p>
    When it comes to practices, our varsity rise before the sun. In the Fall and Spring seasons, you'll find us out on the Allegheny River rowing singles, pairs, fours and the occasional eight. In the winter we're in Skibo Gymnasium building up our strength and endurance.
  </p>

  <h5>If you're a prospective novice, here's a quick look at what your practice schedule might be:</h5></br>
  <p>
    In the Fall, Mondays through Fridays at 5:30pm in the evening, you should expect to row out on the Allegheny River with 8 other novices in one of our eights, with a Coach providing helpful and important bits of advice, to help you build a strong and efficient stroke.
  </p>
  <p>
    The winter you'll be joining the varsity with morning practices in Skibo Gymnasium, doing the same workout routines Monday through Friday at 5:30am, and a Saturday workout at 7:00am.
  </p>
  <p>
    If you have any questions or any interest in learning more about our program, don't hesitate to contact our team captains Dmitriy Yakubov and Emily Henderson at <span class="email"> captains@tartancrew.org</span>.
</div>