<h3>Races And Regattas</h3>
<div class= "info_section">
  <p>
    If you've rowed competitively before, you'd understand the chaotic and energizing atmosphere of a Regatta. Our team experiences that rush only but a few times throughout the year, but we train to our fullest capacity in order to achieve the best results.
  </p>
  <h5>Here's a list of the races we will be attending this Fall:</h5></br>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Race</th>
        <th>Date</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Head of the Occoquan</td>
        <td>TBD</td>
        <td>Virginia</td>
      </tr>
      <tr>
        <td>Head of the Ohio</td>
        <td>TBD</td>
        <td>Pittsburgh, Pennsylvania</td>
      </tr>
      <tr>
        <td>CarDuPitt</td>
        <td>TBD</td>
        <td>Pittsburgh, Pennsylvania</td>
      </tr>
    </tbody>
  </table>
</div>