<h3>Our Roster</h3>
<div class= "info_section">
<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Alex Shie</td>
        <td>Senior</td>
      </tr>
      <tr>
        <td>Brendan White</td>
        <td>Senior</td>
      </tr>
      <tr><td>Dmitriy Yakubov</td>
        <td>Senior</td>
      </tr>
      <tr>
        <td>Faiz Abbasi</td>
        <td>Senior</td>
      </tr>
      <tr>
        <td>Joseph Guihan</td>
        <td>Junior</td>
      </tr>
      <tr>
        <td>Joshua Harvey</td>
        <td>Senior</td>
      </tr>
      <tr>
        <td>Luke Diorio-Toth</td>
        <td>Junior</td>
      </tr>
      <tr>
        <td>Rand Burzese</td>
        <td>Junior</td>
      </tr>
      <tr>
        <td>Wesley Transue</td>
        <td>Senior</td>
      </tr>
      <tr>
        <td>Emily Henderson</td>
        <td>Senior</td>
      </tr>
      <tr>
        <td>Jinie Haytko</td>
        <td>Junior</td>
      </tr>
      <tr>
        <td>Katy Basore</td>
        <td>Junior</td>
      </tr>
      <tr>
        <td>Kelsey Diffley</td>
        <td>Senior</td>
      </tr>
      <tr>
        <td>Samantha Dickinson</td>
        <td>Junior</td>
      </tr>
      <tr>
        <td>Bryan Phipps</td>
        <td>Sophomore</td>
      </tr>
      <tr>
        <td>Kevin Louie</td>
        <td>Sophomore</td>
      </tr>
      <tr>
        <td>Sam Winslow</td>
        <td>Sophomore</td>
      </tr>
      <tr>
        <td>Isaac Jones</td>
        <td>Junior</td>
      </tr>
      <tr>
        <td>Isa Daher</td>
        <td>Sophomore</td>
      </tr>
      <tr>
        <td>Jenna Krug</td>
        <td>Sophomore</td>
      </tr>
      <tr>
        <td>Julia Embody</td>
        <td>Sophomore</td>
      </tr>
      <tr>
        <td>Madeleine Krick</td>
        <td>Sophomore</td>
      </tr>
      <tr>
        <td>Sami Davies</td>
        <td>Sophomore</td>
      </tr>
    </tbody>
  </table>
</div>