<h3>Our Roster</h3>
<div class= "info_section">
  <p>
    Our team consists of some of the brightest and hardest working students at Carnegie Mellon University.
  </p>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Year</th>
        <th>Major</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Faiz Abbasi</td>
        <td>Senior</td>
        <td>Information Systems</td>
      </tr>
      <tr>
        <td>Rand Burzese</td>
        <td>Junior</td>
        <td>Chemical Engineering</td>
      </tr>
      <tr>
        <td>Women's Team Captain</td>
        <td>Emily Henderson</td>
        <td><%= mail_to "captains@tartancrew.org", "captains@tartancrew.org" %></td>
      </tr>
      <tr>
        <td>Secretary</td>
        <td>Luke Diorio-Toth</td>
        <td><%= mail_to "secretary@tartancrew.org", "secretary@tartancrew.org" %></td>
      </tr>
      <tr>
        <td>Fundraising Chair</td>
        <td>Kelsey Diffley & Jinie Haytko</td>
        <td><%= mail_to "fundraising@tartancrew.org", "fundraising@tartancrew.org" %></td>
      </tr>
      <tr>
        <td>Public Relations</td>
        <td>Julia Embody</td>
        <td><%= mail_to "publicity@tartancrew.org", "publicity@tartancrew.org" %></td>
      </tr>
            <tr>
        <td>Recruitment</td>
        <td>Sami Davies</td>
        <td><%= mail_to "recruitment@tartancrew.org", "recruitment@tartancrew.org" %></td>
      </tr>
      <tr>
        <td>Equipment</td>
        <td>Rand Burzese</td>
        <td><%= mail_to "equipment@tartancrew.org", "equipment@tartancrew.org" %></td>
      </tr>
      <tr>
        <td>Webmaster</td>
        <td>Faiz Abbasi</td>
        <td><%= mail_to "webmaster@tartancrew.org", "webmaster@tartancrew.org" %></td>
      </tr>
    </tbody>
  </table>
</div>