<h3>Coaches Quarters</h3>
<div class= "info_section">
<p>
  We are currently transitioning between Head Coaches, and are actively looking for an experienced and qualified individual willing become the mentor for a few outstanding individuals. 
</p>
<p>
  If you are interested in learning more about the position, or know someone that is, please contact our <%= mail_to "board@tartancrew.org", "Board" %>.
</p>
</div>